#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Navbar sticky positioning */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

/* Responsive Typography Overrides */
@media (max-width: 600px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5, h6 {
    font-size: 1em;
  }
}
